.home-container{
width: 600px;
padding: 20px;
background-color: rgb(143, 53, 1);
border: solid transparent 2px;
border-radius: 10px;
margin: 0 auto;
margin-top: 70px;
  &__button{
    width: 300px;
    padding: 20px;
    margin: 0 auto;
    border: solid white 2px;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    color:white;
    font-size: 1.2em;
    font-weight: 600;
    text-decoration: none;
  }

  &__button:hover{
    background-color: white;
    transition-duration: 0.2s;
    color:rgb(143, 53, 1);
    font-size: 1.25em;
  }

}
